$sellwight: 1000px;
$sellscolors: (
    sell1: rgba(248, 249, 250, 0.5),
    sell2:rgba(248, 249, 250, 0.5),
    sell3:rgba(248, 249, 250, 0.5)
);

$pagefont:(
    font1: normal,
    font2: center,
    font3: 'Bebas Neue', 
    font4: cursive
);

$navbarfont:(
    font5:'Anton', 
    font6: sans-serif
);

$navbarfont2:(
    font9:'Anton', 
    font10: sans-serif
);

$back-groundbody: rgba(248, 249, 250, 0.5);
$back-groundfooter: black;
$autoimage: auto;
$transitions: width 0.5s, height 0.5s, margin 0.5s;